<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-form">
        <h1>Bem Vindo!</h1>
        <div class="container">
            <div class="main">
                <div class="conteudo">
                    <h2>Log In</h2>
                    <form action="login.php" method="POST"> <!-- Mudança aqui -->
                        <input id="CNPJ" type="text" name="email" placeholder="Email"  required autofocus>
                        <input type="password" name="senha" placeholder="Senha" required>
                        <button class="btn" type="submit" name="submit">Login</button> <!-- Mudança aqui -->
                    </form>
                    <p class="account">Não possue uma conta? <a href="cadastro.html">Cadastre-se</a></p>
                </div>
                <img src="" alt="">
                <div class="imagem">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
