html {
    background-color: #007e98;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    margin-left: 1.2%;
    margin-top: 2%;
    height: 80%;
    border-radius: 2ch;
    width: 95%;
}

h1 {
    font-size: 24px;
    color: #007e98;
    display: flex;
    align-items: center;
    margin-top: 1.5%;
}
#voltar{
    height: 40px;
    width: 60px;
    background-color:#007e98 ;
    border-radius: 1ch;
    margin-top: 2.2%;
    margin-left: 1.8%;
}

.back-button {
    font-size: 14px;
    color: #fff;
    background: #007e98;
    border: none;
    margin-left: 20px;
    padding: 5px 10px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.perfil {
    display: flex;
    align-items: center;
    background-color: #007e98;
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.perfil img {
    width: 80px; /* Tamanho da imagem do perfil */
    height: 80px; /* Tamanho da imagem do perfil */
    border-radius: 50%; /* Para fazer a imagem ficar circular */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.perfil-info {
    flex: 1;
}

.perfil-info h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

.perfil-info p {
    margin: 5px 0;
    padding-top: 10px;
    max-width: 400px; /* Limita a largura da biografia */
    overflow-wrap: break-word; /* Quebra palavras longas para não extrapolar o limite */
}

.save-button-form {
    display: inline-block;
    position: fixed; /* Posiciona o botão fixo em relação à janela */
    margin-left: 82%;
}

.save-button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.save-button.saved {
    background-color: white; /* Muda a cor de fundo ao salvar */
    color: #007e98; /* Altera a cor do texto */
    border: none; /* Remove a borda */
}

.save-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efeito ao passar o mouse */
}

.save-button:focus {
    outline: none; /* Remove contorno ao focar */
}

/* Estilo adicional para o botão de voltar */
.back-button {
    position: fixed; /* Fixa o botão em qualquer lugar da página */
    top: 10px;
    left: 10px;
}
